node-red-data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "ed778ab22eb6be8b",
        "type": "tab",
        "label": "Поток 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "c605dbb8556f02b9",
        "type": "tab",
        "label": "Поток 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "4b715d19fcfa14f0",
        "type": "tab",
        "label": "time SQL telegram",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "69a47de7b1eb6c83",
        "type": "tab",
        "label": "admin motion",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "774f580a694301ed",
        "type": "tab",
        "label": "Поток 4",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a724d841990d7610",
        "type": "tab",
        "label": "Поток 5",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "e36419f90ee95ae5",
        "type": "tab",
        "label": "Admin noise",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "8634c59326439fda",
        "type": "tab",
        "label": "Admin noise hi",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f88d2c63cf0dc5c1",
        "type": "tab",
        "label": "Room1 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fee0be7bbe827a44",
        "type": "tab",
        "label": "Room2 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "02a7e5573c3b05f8",
        "type": "tab",
        "label": "Room3 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4005e10cff0ef964",
        "type": "tab",
        "label": "Room4 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "668e5cd866f027bd",
        "type": "tab",
        "label": "Room5 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a190f8943b7c5470",
        "type": "tab",
        "label": "Room6 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ddbd6358a8da4aee",
        "type": "tab",
        "label": "Room7 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb4350e580a6aae3",
        "type": "tab",
        "label": "Room8 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "886226f634864b27",
        "type": "tab",
        "label": "Room9 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "16bc4e5da261e09c",
        "type": "tab",
        "label": "Room10 noise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "657f0dfc46abf9b4",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "78.24.223.130",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f6200af4d1eef171",
        "type": "telegram bot",
        "botname": "Room1Hotel1tel_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "c0aa9c0a1758fa19",
        "type": "postgreSQLConfig",
        "name": "postgres",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "hass",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "max": "10",
        "maxFieldType": "num",
        "min": "1",
        "minFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "password",
        "passwordFieldType": "str"
    },
    {
        "id": "e16d648d3fbf13d3",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "78.24.223.130",
        "hostFieldType": "str",
        "port": "5352",
        "portFieldType": "num",
        "database": "hass",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "max": "10",
        "maxFieldType": "num",
        "min": "1",
        "minFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "password",
        "passwordFieldType": "str"
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "be82fbac998f57bc",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "bedroom1_motion/state",
        "topic": "bedroom1/binary_sensor/bedroom1_motion/state",
        "qos": "0",
        "datatype": "auto",
        "broker": "657f0dfc46abf9b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "923077ae3f57bc20"
            ]
        ]
    },
    {
        "id": "6cc2e9159578da35",
        "type": "telegram receiver",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 310,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cf2dcfd6031bd77a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "923077ae3f57bc20",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: msg.payload};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "4968d4fb7ca5ee5e"
            ]
        ]
    },
    {
        "id": "4968d4fb7ca5ee5e",
        "type": "telegram sender",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 690,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3fe5801ef780c927",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "HApostgresql",
        "query": "SELECT count(*) FROM public.raw_quiz_data;",
        "postgreSQLConfig": "c0aa9c0a1758fa19",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "cf2dcfd6031bd77a"
            ]
        ]
    },
    {
        "id": "4f4347f218d515c5",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "3fe5801ef780c927"
            ]
        ]
    },
    {
        "id": "7fb652a7b960f2c7",
        "type": "debug",
        "z": "ed778ab22eb6be8b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "5f40544a53c45e67",
        "type": "inject",
        "z": "ed778ab22eb6be8b",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "61103",
        "payloadType": "num",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "5f6e4b34b3a120c3"
            ]
        ]
    },
    {
        "id": "5f6e4b34b3a120c3",
        "type": "postgresql",
        "z": "ed778ab22eb6be8b",
        "name": "postgres",
        "query": "SELECT * FROM public.raw_quiz_data WHERE id = {{{msg.payload}}};",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 520,
        "y": 380,
        "wires": [
            [
                "7fb652a7b960f2c7"
            ]
        ]
    },
    {
        "id": "3e60ebae65d873bb",
        "type": "debug",
        "z": "c605dbb8556f02b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "be3ca17e7de95b8d",
        "type": "inject",
        "z": "c605dbb8556f02b9",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "SELECT * FROM public.states LIMIT 10 OFFSET 0;",
        "payloadType": "str",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "f5889c2b92ecc857"
            ]
        ]
    },
    {
        "id": "f5889c2b92ecc857",
        "type": "postgresql",
        "z": "c605dbb8556f02b9",
        "name": "postgres",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "3e60ebae65d873bb"
            ]
        ]
    },
    {
        "id": "91f37aede7260bae",
        "type": "debug",
        "z": "4b715d19fcfa14f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "b4a6ac21aa571d38",
        "type": "inject",
        "z": "4b715d19fcfa14f0",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "SELECT * FROM public.states ORDER BY last_changed DESC LIMIT 1;",
        "payloadType": "str",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "aed3534958591543"
            ]
        ]
    },
    {
        "id": "aed3534958591543",
        "type": "postgresql",
        "z": "4b715d19fcfa14f0",
        "name": "postgres",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "16797a22fa009b34",
                "438825d6617e9dad"
            ]
        ]
    },
    {
        "id": "a797748a7f872080",
        "type": "telegram sender",
        "z": "4b715d19fcfa14f0",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 950,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "16797a22fa009b34",
        "type": "function",
        "z": "4b715d19fcfa14f0",
        "name": "",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: msg.payload[0].last_changed};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 460,
        "wires": [
            [
                "a797748a7f872080"
            ]
        ]
    },
    {
        "id": "c54246dedd03ea45",
        "type": "telegram receiver",
        "z": "4b715d19fcfa14f0",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "651c8be7ee17feee"
            ],
            []
        ]
    },
    {
        "id": "651c8be7ee17feee",
        "type": "function",
        "z": "4b715d19fcfa14f0",
        "name": "",
        "func": "\nif (msg.payload.content === \"Привет\") {\n  let payload = { chatId:808941537,\n  type: \"message\",\n  content: \"Здравствуй\"};\n    \n   \n   return {payload};\n} else {\n  let payload = { chatId:808941537,\n  type: \"message\",\n  content: \"Не понял...\"};\n   return {payload};\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 560,
        "wires": [
            [
                "a797748a7f872080"
            ]
        ]
    },
    {
        "id": "438825d6617e9dad",
        "type": "function",
        "z": "4b715d19fcfa14f0",
        "name": "",
        "func": "var todayDate = new Date(), weekDate = new Date();\nweekDate.setTime(todayDate.getTime()-(1*1*3600000/60));\nlet payload = { chatId:808941537,\ntype: \"message\",\ncontent: weekDate.toString()};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 320,
        "wires": [
            [
                "91f37aede7260bae"
            ]
        ]
    },
    {
        "id": "a5b6e862fe907dc8",
        "type": "mqtt in",
        "z": "69a47de7b1eb6c83",
        "name": "bedroom1_motion/state",
        "topic": "esp32-admin/binary_sensor/admin_motion/state",
        "qos": "0",
        "datatype": "auto",
        "broker": "657f0dfc46abf9b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "19f57b1ed5314e9b"
            ]
        ]
    },
    {
        "id": "19f57b1ed5314e9b",
        "type": "function",
        "z": "69a47de7b1eb6c83",
        "name": "",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: msg.payload};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "a6fb6ccfed859230"
            ]
        ]
    },
    {
        "id": "a6fb6ccfed859230",
        "type": "telegram sender",
        "z": "69a47de7b1eb6c83",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 750,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d7dc5fa72674f307",
        "type": "debug",
        "z": "774f580a694301ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "3b65e4f2bbbea9f5",
        "type": "inject",
        "z": "774f580a694301ed",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "SELECT state FROM public.states WHERE entity_id  LIKE 'sensor.admin_sound' ORDER BY last_changed DESC LIMIT 5;",
        "payloadType": "str",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "2c509fd854e88f83"
            ]
        ]
    },
    {
        "id": "2c509fd854e88f83",
        "type": "postgresql",
        "z": "774f580a694301ed",
        "name": "postgres",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "24da30eae51fa4a1"
            ]
        ]
    },
    {
        "id": "e5d53a673ac59b2a",
        "type": "telegram sender",
        "z": "774f580a694301ed",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 810,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "90a260050c498fee",
        "type": "function",
        "z": "774f580a694301ed",
        "name": "",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: msg.payload[0].last_changed};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 520,
        "wires": [
            [
                "e5d53a673ac59b2a"
            ]
        ]
    },
    {
        "id": "70ad5f56556379e3",
        "type": "telegram receiver",
        "z": "774f580a694301ed",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "9e993563c2a45f71"
            ],
            []
        ]
    },
    {
        "id": "9e993563c2a45f71",
        "type": "function",
        "z": "774f580a694301ed",
        "name": "",
        "func": "\nif (msg.payload.content === \"Привет\") {\n  let payload = { chatId:808941537,\n  type: \"message\",\n  content: \"Здравствуй\"};\n    \n   \n   return {payload};\n} else {\n  let payload = { chatId:808941537,\n  type: \"message\",\n  content: \"Не понял...\"};\n   return {payload};\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 620,
        "wires": [
            [
                "e5d53a673ac59b2a"
            ]
        ]
    },
    {
        "id": "56117bb587855b45",
        "type": "function",
        "z": "774f580a694301ed",
        "name": "",
        "func": "var todayDate = new Date(), weekDate = new Date();\nweekDate.setTime(todayDate.getTime()-(1*1*3600000/60));\nlet payload = { chatId:808941537,\ntype: \"message\",\ncontent: weekDate.toString()};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "24da30eae51fa4a1",
        "type": "debug",
        "z": "774f580a694301ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "23aec7a580a4bc22",
        "type": "inject",
        "z": "a724d841990d7610",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "004cc49505f5a340"
            ]
        ]
    },
    {
        "id": "004cc49505f5a340",
        "type": "postgresql",
        "z": "a724d841990d7610",
        "name": "postgres",
        "query": "SELECT avg(state::FLOAT) FROM public.states WHERE entity_id='sensor.admin_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes';",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "d4c1911842749d73"
            ]
        ]
    },
    {
        "id": "d4c1911842749d73",
        "type": "debug",
        "z": "a724d841990d7610",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].avg",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "d37ff6ef357c6535",
        "type": "inject",
        "z": "e36419f90ee95ae5",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1200",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "3c5922fa801b9cab"
            ]
        ]
    },
    {
        "id": "3c5922fa801b9cab",
        "type": "postgresql",
        "z": "e36419f90ee95ae5",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.admin_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.admin_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 760,
        "y": 460,
        "wires": [
            [
                "0e1feaf36d68c687"
            ]
        ]
    },
    {
        "id": "79057e37c16535bc",
        "type": "debug",
        "z": "e36419f90ee95ae5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 300,
        "wires": []
    },
    {
        "id": "0e1feaf36d68c687",
        "type": "function",
        "z": "e36419f90ee95ae5",
        "name": "",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в администраторской (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "c8ecbf269d71a20a"
            ]
        ]
    },
    {
        "id": "c8ecbf269d71a20a",
        "type": "telegram sender",
        "z": "e36419f90ee95ae5",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1370,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "fed699a9d28e6574",
        "type": "telegram receiver",
        "z": "e36419f90ee95ae5",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 570,
        "y": 620,
        "wires": [
            [
                "3c5922fa801b9cab"
            ],
            []
        ]
    },
    {
        "id": "6efc2b2467a0ef99",
        "type": "inject",
        "z": "8634c59326439fda",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "4af2a6685659605b"
            ]
        ]
    },
    {
        "id": "4af2a6685659605b",
        "type": "postgresql",
        "z": "8634c59326439fda",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.admin_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.admin_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "4e51be2b16d00428"
            ]
        ]
    },
    {
        "id": "8c165ea04b0cf6d0",
        "type": "debug",
        "z": "8634c59326439fda",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "4e51be2b16d00428",
        "type": "function",
        "z": "8634c59326439fda",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в администраторской (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 420,
        "wires": [
            [
                "e26283c86d93f462",
                "8c165ea04b0cf6d0"
            ]
        ]
    },
    {
        "id": "e26283c86d93f462",
        "type": "telegram sender",
        "z": "8634c59326439fda",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 930,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "cbce0e0b772f2ec3",
        "type": "telegram receiver",
        "z": "8634c59326439fda",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "79962be1d79c4a3d"
            ],
            []
        ]
    },
    {
        "id": "79962be1d79c4a3d",
        "type": "switch",
        "z": "8634c59326439fda",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "4af2a6685659605b"
            ],
            [
                "ff05af3d27c13e9b"
            ]
        ]
    },
    {
        "id": "ff05af3d27c13e9b",
        "type": "switch",
        "z": "8634c59326439fda",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 620,
        "wires": [
            [
                "15fbf6f5790eb4de"
            ]
        ]
    },
    {
        "id": "15fbf6f5790eb4de",
        "type": "function",
        "z": "8634c59326439fda",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 620,
        "wires": [
            [
                "e26283c86d93f462"
            ]
        ]
    },
    {
        "id": "a3ee99a9438a26ce",
        "type": "inject",
        "z": "f88d2c63cf0dc5c1",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "782e334b51064815"
            ]
        ]
    },
    {
        "id": "782e334b51064815",
        "type": "postgresql",
        "z": "f88d2c63cf0dc5c1",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room1_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room1_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "9dbaf793487d417c"
            ]
        ]
    },
    {
        "id": "c1b908db4493dd97",
        "type": "debug",
        "z": "f88d2c63cf0dc5c1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 180,
        "wires": []
    },
    {
        "id": "9dbaf793487d417c",
        "type": "function",
        "z": "f88d2c63cf0dc5c1",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №101 (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 300,
        "wires": [
            [
                "91d91dac40d8f859",
                "c1b908db4493dd97"
            ]
        ]
    },
    {
        "id": "91d91dac40d8f859",
        "type": "telegram sender",
        "z": "f88d2c63cf0dc5c1",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "34bbdad7025d640a",
        "type": "telegram receiver",
        "z": "f88d2c63cf0dc5c1",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 290,
        "y": 500,
        "wires": [
            [
                "b2286000c1e4db11"
            ],
            []
        ]
    },
    {
        "id": "b2286000c1e4db11",
        "type": "switch",
        "z": "f88d2c63cf0dc5c1",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "782e334b51064815"
            ],
            [
                "2da91ca113db412b"
            ]
        ]
    },
    {
        "id": "2da91ca113db412b",
        "type": "switch",
        "z": "f88d2c63cf0dc5c1",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a778cbe80b8ecf73",
        "type": "function",
        "z": "f88d2c63cf0dc5c1",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 500,
        "wires": [
            [
                "91d91dac40d8f859"
            ]
        ]
    },
    {
        "id": "619eaacb67e4db0f",
        "type": "inject",
        "z": "fee0be7bbe827a44",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "49b687e27306a93d"
            ]
        ]
    },
    {
        "id": "49b687e27306a93d",
        "type": "postgresql",
        "z": "fee0be7bbe827a44",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room2_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room2_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "069a369b8a40cb7c"
            ]
        ]
    },
    {
        "id": "a0053768c8b5642b",
        "type": "debug",
        "z": "fee0be7bbe827a44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "069a369b8a40cb7c",
        "type": "function",
        "z": "fee0be7bbe827a44",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №102 (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 340,
        "wires": [
            [
                "fad4f338e69d928e",
                "a0053768c8b5642b"
            ]
        ]
    },
    {
        "id": "fad4f338e69d928e",
        "type": "telegram sender",
        "z": "fee0be7bbe827a44",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1010,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7e7461c9af22f0ab",
        "type": "telegram receiver",
        "z": "fee0be7bbe827a44",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "4c03b4117228dd38"
            ],
            []
        ]
    },
    {
        "id": "4c03b4117228dd38",
        "type": "switch",
        "z": "fee0be7bbe827a44",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "49b687e27306a93d"
            ],
            [
                "ddeda04122af8cef"
            ]
        ]
    },
    {
        "id": "ddeda04122af8cef",
        "type": "switch",
        "z": "fee0be7bbe827a44",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b3f03a9cd3d6fa3b",
        "type": "function",
        "z": "fee0be7bbe827a44",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 540,
        "wires": [
            [
                "fad4f338e69d928e"
            ]
        ]
    },
    {
        "id": "d8543c8a98731296",
        "type": "inject",
        "z": "02a7e5573c3b05f8",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "e715ba0f1de401ac"
            ]
        ]
    },
    {
        "id": "e715ba0f1de401ac",
        "type": "postgresql",
        "z": "02a7e5573c3b05f8",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room3_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room3_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "47781b026cfe2b4b"
            ]
        ]
    },
    {
        "id": "c82787e51427457b",
        "type": "debug",
        "z": "02a7e5573c3b05f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "47781b026cfe2b4b",
        "type": "function",
        "z": "02a7e5573c3b05f8",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №103 (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 380,
        "wires": [
            [
                "7c3c663c0dc62e73",
                "c82787e51427457b"
            ]
        ]
    },
    {
        "id": "7c3c663c0dc62e73",
        "type": "telegram sender",
        "z": "02a7e5573c3b05f8",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "21af88b861e50e5e",
        "type": "telegram receiver",
        "z": "02a7e5573c3b05f8",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "c403ecf7fc3df885"
            ],
            []
        ]
    },
    {
        "id": "c403ecf7fc3df885",
        "type": "switch",
        "z": "02a7e5573c3b05f8",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "e715ba0f1de401ac"
            ],
            [
                "eb5da1391a235a91"
            ]
        ]
    },
    {
        "id": "eb5da1391a235a91",
        "type": "switch",
        "z": "02a7e5573c3b05f8",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "749d3b9ccbed26e1",
        "type": "function",
        "z": "02a7e5573c3b05f8",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 580,
        "wires": [
            [
                "7c3c663c0dc62e73"
            ]
        ]
    },
    {
        "id": "28867abad74ca87e",
        "type": "inject",
        "z": "4005e10cff0ef964",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "76b07f0d3591e225"
            ]
        ]
    },
    {
        "id": "76b07f0d3591e225",
        "type": "postgresql",
        "z": "4005e10cff0ef964",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room4_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room4_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "27d3eed03169d7dd"
            ]
        ]
    },
    {
        "id": "a514adeaaa69af36",
        "type": "debug",
        "z": "4005e10cff0ef964",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 220,
        "wires": []
    },
    {
        "id": "27d3eed03169d7dd",
        "type": "function",
        "z": "4005e10cff0ef964",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №104 (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "3d1ae334f5b211d8",
                "a514adeaaa69af36"
            ]
        ]
    },
    {
        "id": "3d1ae334f5b211d8",
        "type": "telegram sender",
        "z": "4005e10cff0ef964",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d31b09e78d12ed8b",
        "type": "telegram receiver",
        "z": "4005e10cff0ef964",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 230,
        "y": 540,
        "wires": [
            [
                "34ccf0a758e99416"
            ],
            []
        ]
    },
    {
        "id": "34ccf0a758e99416",
        "type": "switch",
        "z": "4005e10cff0ef964",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "76b07f0d3591e225"
            ],
            [
                "e7cc55fcca837dba"
            ]
        ]
    },
    {
        "id": "e7cc55fcca837dba",
        "type": "switch",
        "z": "4005e10cff0ef964",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "6ef79124cee2ce2c",
        "type": "function",
        "z": "4005e10cff0ef964",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 540,
        "wires": [
            [
                "3d1ae334f5b211d8"
            ]
        ]
    },
    {
        "id": "ee8f0fb7be86b129",
        "type": "inject",
        "z": "668e5cd866f027bd",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "5029b650fcc7ce29"
            ]
        ]
    },
    {
        "id": "5029b650fcc7ce29",
        "type": "postgresql",
        "z": "668e5cd866f027bd",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room5_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room5_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "4130a67dd2eea6f0"
            ]
        ]
    },
    {
        "id": "098184cd9412f1d7",
        "type": "debug",
        "z": "668e5cd866f027bd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "4130a67dd2eea6f0",
        "type": "function",
        "z": "668e5cd866f027bd",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №105 (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 360,
        "wires": [
            [
                "1943efe40fa2d982",
                "098184cd9412f1d7"
            ]
        ]
    },
    {
        "id": "1943efe40fa2d982",
        "type": "telegram sender",
        "z": "668e5cd866f027bd",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a31e3085c29c1193",
        "type": "telegram receiver",
        "z": "668e5cd866f027bd",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "f2488b0e79e8db34"
            ],
            []
        ]
    },
    {
        "id": "f2488b0e79e8db34",
        "type": "switch",
        "z": "668e5cd866f027bd",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "5029b650fcc7ce29"
            ],
            [
                "0d834e62973ab4e5"
            ]
        ]
    },
    {
        "id": "0d834e62973ab4e5",
        "type": "switch",
        "z": "668e5cd866f027bd",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "97f5e0aac461bb73",
        "type": "function",
        "z": "668e5cd866f027bd",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 560,
        "wires": [
            [
                "1943efe40fa2d982"
            ]
        ]
    },
    {
        "id": "5095ad90665d979a",
        "type": "inject",
        "z": "a190f8943b7c5470",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "a2fb4f23d790e592"
            ]
        ]
    },
    {
        "id": "a2fb4f23d790e592",
        "type": "postgresql",
        "z": "a190f8943b7c5470",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room6_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room6_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "6bea7a27ab801d68"
            ]
        ]
    },
    {
        "id": "4a06395c20487535",
        "type": "debug",
        "z": "a190f8943b7c5470",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "6bea7a27ab801d68",
        "type": "function",
        "z": "a190f8943b7c5470",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №106 (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 440,
        "wires": [
            [
                "f5d621926af3d0ee",
                "4a06395c20487535"
            ]
        ]
    },
    {
        "id": "f5d621926af3d0ee",
        "type": "telegram sender",
        "z": "a190f8943b7c5470",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1130,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "478f858b94d64612",
        "type": "telegram receiver",
        "z": "a190f8943b7c5470",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "bc96689f9e97b198"
            ],
            []
        ]
    },
    {
        "id": "bc96689f9e97b198",
        "type": "switch",
        "z": "a190f8943b7c5470",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 560,
        "wires": [
            [
                "a2fb4f23d790e592"
            ],
            [
                "adadf845c9a9f222"
            ]
        ]
    },
    {
        "id": "adadf845c9a9f222",
        "type": "switch",
        "z": "a190f8943b7c5470",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "83df293a985d4c54",
        "type": "function",
        "z": "a190f8943b7c5470",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 640,
        "wires": [
            [
                "f5d621926af3d0ee"
            ]
        ]
    },
    {
        "id": "1d93b8a7325f395d",
        "type": "inject",
        "z": "ddbd6358a8da4aee",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "55223c8b29d3c9c4"
            ]
        ]
    },
    {
        "id": "55223c8b29d3c9c4",
        "type": "postgresql",
        "z": "ddbd6358a8da4aee",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room7_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room7_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "b6b12801c406134e"
            ]
        ]
    },
    {
        "id": "266e69357b1df791",
        "type": "debug",
        "z": "ddbd6358a8da4aee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "b6b12801c406134e",
        "type": "function",
        "z": "ddbd6358a8da4aee",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №107 (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 400,
        "wires": [
            [
                "59cf73faf0a2938b",
                "266e69357b1df791"
            ]
        ]
    },
    {
        "id": "59cf73faf0a2938b",
        "type": "telegram sender",
        "z": "ddbd6358a8da4aee",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1150,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "254ad1c872206d60",
        "type": "telegram receiver",
        "z": "ddbd6358a8da4aee",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "eb332ba18576f868"
            ],
            []
        ]
    },
    {
        "id": "eb332ba18576f868",
        "type": "switch",
        "z": "ddbd6358a8da4aee",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "55223c8b29d3c9c4"
            ],
            [
                "345cea06c0c0b19e"
            ]
        ]
    },
    {
        "id": "345cea06c0c0b19e",
        "type": "switch",
        "z": "ddbd6358a8da4aee",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "ce8dee4e4a7a1586",
        "type": "function",
        "z": "ddbd6358a8da4aee",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 600,
        "wires": [
            [
                "59cf73faf0a2938b"
            ]
        ]
    },
    {
        "id": "0655850c7066607d",
        "type": "inject",
        "z": "eb4350e580a6aae3",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "55467aae08760c03"
            ]
        ]
    },
    {
        "id": "55467aae08760c03",
        "type": "postgresql",
        "z": "eb4350e580a6aae3",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room8_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room8_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "543fadf9aec45cc9"
            ]
        ]
    },
    {
        "id": "7f58b03f320a0d22",
        "type": "debug",
        "z": "eb4350e580a6aae3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "543fadf9aec45cc9",
        "type": "function",
        "z": "eb4350e580a6aae3",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №108 (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 400,
        "wires": [
            [
                "9b9a6295d63abda8",
                "7f58b03f320a0d22"
            ]
        ]
    },
    {
        "id": "9b9a6295d63abda8",
        "type": "telegram sender",
        "z": "eb4350e580a6aae3",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "0c300132da4900db",
        "type": "telegram receiver",
        "z": "eb4350e580a6aae3",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "9fe6c3bc361a80e9"
            ],
            []
        ]
    },
    {
        "id": "9fe6c3bc361a80e9",
        "type": "switch",
        "z": "eb4350e580a6aae3",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "55467aae08760c03"
            ],
            [
                "b78d017573a7fb1f"
            ]
        ]
    },
    {
        "id": "b78d017573a7fb1f",
        "type": "switch",
        "z": "eb4350e580a6aae3",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "a92ec4b8e1d83f77",
        "type": "function",
        "z": "eb4350e580a6aae3",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 600,
        "wires": [
            [
                "9b9a6295d63abda8"
            ]
        ]
    },
    {
        "id": "0b956fc233a23584",
        "type": "inject",
        "z": "886226f634864b27",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "939fb6d94a77180e"
            ]
        ]
    },
    {
        "id": "939fb6d94a77180e",
        "type": "postgresql",
        "z": "886226f634864b27",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room9_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room9_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 660,
        "y": 380,
        "wires": [
            [
                "27a339f6121515f5"
            ]
        ]
    },
    {
        "id": "82557fb8534d9882",
        "type": "debug",
        "z": "886226f634864b27",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 260,
        "wires": []
    },
    {
        "id": "27a339f6121515f5",
        "type": "function",
        "z": "886226f634864b27",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №109 (за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 380,
        "wires": [
            [
                "bb4ed73ba43e854e",
                "82557fb8534d9882"
            ]
        ]
    },
    {
        "id": "bb4ed73ba43e854e",
        "type": "telegram sender",
        "z": "886226f634864b27",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1110,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b8274c4cb26d3c55",
        "type": "telegram receiver",
        "z": "886226f634864b27",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "2d511c46af828282"
            ],
            []
        ]
    },
    {
        "id": "2d511c46af828282",
        "type": "switch",
        "z": "886226f634864b27",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "939fb6d94a77180e"
            ],
            [
                "50fcb38a71600be3"
            ]
        ]
    },
    {
        "id": "50fcb38a71600be3",
        "type": "switch",
        "z": "886226f634864b27",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "dbbbdedc98d0903a",
        "type": "function",
        "z": "886226f634864b27",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 580,
        "wires": [
            [
                "bb4ed73ba43e854e"
            ]
        ]
    },
    {
        "id": "e2990f2271976043",
        "type": "inject",
        "z": "16bc4e5da261e09c",
        "name": "time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "massage",
        "payload": "",
        "payloadType": "str",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "940353c29b0c6679"
            ]
        ]
    },
    {
        "id": "940353c29b0c6679",
        "type": "postgresql",
        "z": "16bc4e5da261e09c",
        "name": "postgres",
        "query": "WITH table1 AS (SELECT count(state) FROM public.states WHERE entity_id='sensor.room10_sound'  and state < '3.00' and state > '0.00' and last_changed  >=  now() - interval '1 hours 00 minutes'),\ntable2 AS (SELECT count(state) FROM  public.states WHERE entity_id='sensor.room10_sound'  and state < '3.00' and state > '2.00' and last_changed  >=  now() - interval '1 hours 00 minutes')\nSELECT * FROM table1 UNION SELECT * FROM table2;",
        "postgreSQLConfig": "e16d648d3fbf13d3",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 660,
        "y": 380,
        "wires": [
            [
                "778e6a63ab52bb27"
            ]
        ]
    },
    {
        "id": "a8d10f386f2884a9",
        "type": "debug",
        "z": "16bc4e5da261e09c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 260,
        "wires": []
    },
    {
        "id": "778e6a63ab52bb27",
        "type": "function",
        "z": "16bc4e5da261e09c",
        "name": "Шум%",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Процент зашумленности в Yakor №110(за час измерений) \" + (Math.round(((10000*parseInt(msg.payload[0].count)/parseInt(msg.payload[1].count))))/100).toString()+\"%\"};\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 380,
        "wires": [
            [
                "79bc5011950f056b",
                "a8d10f386f2884a9"
            ]
        ]
    },
    {
        "id": "79bc5011950f056b",
        "type": "telegram sender",
        "z": "16bc4e5da261e09c",
        "name": "",
        "bot": "f6200af4d1eef171",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1110,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "68673daa16974a13",
        "type": "telegram receiver",
        "z": "16bc4e5da261e09c",
        "name": "",
        "bot": "f6200af4d1eef171",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "9832548f60e45062"
            ],
            []
        ]
    },
    {
        "id": "9832548f60e45062",
        "type": "switch",
        "z": "16bc4e5da261e09c",
        "name": "Шум?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Шум?",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Шум?",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "940353c29b0c6679"
            ],
            [
                "18915a3af5411290"
            ]
        ]
    },
    {
        "id": "18915a3af5411290",
        "type": "switch",
        "z": "16bc4e5da261e09c",
        "name": "Привет",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Привет",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "9ddfbd4204079969",
        "type": "function",
        "z": "16bc4e5da261e09c",
        "name": "tel msg",
        "func": "let payload = { chatId:808941537,\ntype: \"message\",\ncontent: \"Здравствуйте, напиши мне 'Шум?'\"};\nreturn {payload};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 580,
        "wires": [
            [
                "79bc5011950f056b"
            ]
        ]
    }
]